{% extends 'registration/base.html' %} {% block content %}
<div id="account_banner">
	     <h5>Bram Employement</h5>
	        <h1>About Us</h1>		
	    </div>
		
	    <!-- Story section starts -->
		
	    <div id="story">
	       <h4 span style="color:#02A9E3;">Welcome to Bram Employement</span></h4>
	       <h1>Our Story</h1>
		    <p>We are a fast growing staffing business well established and highly accredited.
			In today’s rapidly changing business environment, with accelerating competition and a slowing economy,
			it’s more important than ever for companies to be agile and to benefit from a recruitment and personnel
			placement agency which permits nimble repositioning. From concept to execution,
			Bram Employement is equipped to quickly and expertly fulfill all of your skilled staff requirements
			</p>
	        <p>At Bram Employment, our top priority is your satisfaction we have workers who are ready,
			willing, and able to fill your temporary work needs. Our workers are carefully selected to
			ensure that you receive only hard working dedicated individuals, who possess a strong work ethic.
			Our training/interviewing process allows us to select those people that genuinely want to work.
			You won’t find any of our personnel arriving at your premises with that “I don’t want to be here” look.
			</p>
	
	    </div>
		
		<!-- Story section ends -->
			    <!-- Why Choose Us section starts -->
	
	    
			
		<!-- Director Message sections starts -->
		
	    <div id="director-message">
	        <div id="director-image">
	            <img src="images/directnew.jpg" alt="Responsive Web Design Graphic">
	        </div>
	        <div id="message">
	            <h4>Bram Employement</h4>
	            <h1>Director's Message</h1>
	            <p>It is very necessary to be confident about that you are in good hands, When you<br>
				embark on an adventure like making or remarking your website. We have a team of<br>
				experienced Web Professionals. They understand very well that a website has to come<br>
				together around the larger goals of your business. Design, Content and Strategy of our<br>
				Websites are created to present you coherently to the outside world in a way that <br>
				engages your users.We can do as much or as little you need.<br>
				</p>

	        </div>	
	    </div>
	   
	    <!-- Director Message sections starts -->
		
		<!-- Team sections starts -->
			
	    <div id="team">
	 
	        <h1>Our Team</h1>
	        <div class="team-member">
	             <img src="images/piyush.png" alt="Responsive Web Design Graphic">
	             <h2>Piyush Kumar</h2>
	             <h4>Business Manager</h4>
	        </div>
	        <div class="team-member">
	             <img src="images/komal.png" alt="Responsive Web Design Graphic">
	             <h2>Komalpreet Singh</h2>
	             <h4>Director</h4>
	        </div>
	        <div class="team-member">
	             <img src="images/vishu.png" alt="Responsive Web Design Graphic">
	             <h2>Antriksh Sharma</h2>
	             <h4>Assistant Manager</h4>
	        </div>	
	        <div class="team-member">
	            <img src="images/alka.png" alt="Responsive Web Design Graphic">
	            <h2>Manpreet Kaur</h2>
	            <h4>HR</h4>
	        </div>
	        <div class="team-member">
	            <img src="images/kajal.png" alt="Responsive Web Design Graphic">
	            <h2>Nisha</h2>
	            <h4>Relationship Manager</h4>
	        </div>
	    </div>
{% endblock %}