{% extends 'registration/base.html' %} 
{% block content %}
<section>



	<!--Header starts -->



	<!--Header ends -->


	<div id="account_banner">
	        <h5>Clicky India</h5>
	        <h1>Welcome</h1>
       <div class="row">
      <div class="col-md-12 col-centered mt-3">
        <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
      </div>
    </div>
	    </div>

	<main>
       <div id="info">
       <h1 style="font-size:40px; text-align:center;"> Employee Agency</h1>
		<table>
		       <tr>
                   <td>Name</td>
                   <td>{{user.username}}</td>
		       </tr>
		       <tr>
			       <td>Email id</td>
                   <td>{{user.email}}</td>
		       </tr>
		       <tr>
			       <td>Phone</td>
                   <td>{{user.phone}}</td>
		       </tr>
			   <tr>
			       <td>Sin Number</td>
                   <td>{{user.sin}}</td>
		       </tr>
		</table>
	   </div>

 </main>

	    <!-- Services section ends -->


		<!-- footer top content section started -->





	<!-- Footer top content section ends -->

	<!-- Footer Starts -->

	<!-- footer Ends -->





</section>
{% endblock %} 