{% extends 'registration/base.html' %} {% block content %} {% load static %}
<div id="account_banner">
	        <h5>Bram Employment </h5>
	        <h1>Contact Us</h1>
	    </div>
    <main>

	    <div id="contacts">
	        <div class="contact">
	           <img src="{% static 'registration/images/address.png' %}" alt="Web Development Image">
	           <h2><span style="color:#02A9E3">Address</span></h2>
	           <p>247 Herdwick Street Brampton</p>
	        </div>
	        <div class="contact">
	           <img src="{% static 'registration/images/email.png' %}" alt="Graphic Designing Image">
	           <h2><span style="color:#02A9E3">Email</span></h2>
	           <p>info@bramemployement.com</p>
	        </div>
	        <div class="contact">
	           <img src="{% static 'registration/images/phone.png'%}" alt="Social Media Image">
	           <h2><span style="color:#02A9E3">Phone</span></h2>
	           <p>+1-9057810877</p>
	        </div>
			<div class="contact">
	           <img src="{% static 'registration/images/wh.png'%}" alt="Social Media Image">
	           <h2><span style="color:#02A9E3">Working Hours</span></h2>
	           <p>09:Am to 06Pm</p>
               <p>Mon-fri</p>
	        </div>
	    </div>

	    <div id="gets">
	        <div id="contact-image">
	            <img src="{% static 'registration/images/con-image.jpg'%}" alt="Responsive Web Design Graphic">
	        </div>

		    <div id ="get-in-touch">
	            <h2>Get in Touch Now</h2>
                <form action="/action_page.php">
                     <label for="fname">First name:</label><br>
                     <input type="text" id="fname" name="fname" value="First Name" class="field"><br>
                     <label for="lname">Last name:</label><br>
                     <input type="text" id="lname" name="lname" value="Second Name" class="field"><br>
		             <label for="lname">Email Id:</label><br>
                     <input type="email" id="email" name="email" value="Email Id" class="field"><br>
		             <label for="lname">Phone:</label><br>
                     <input type="tel" id="phone" name="phone" value="Phone" class="field"><br><br>
                     <input type="submit" value="Submit" id = "sub">
                </form>
	        </div>
	    </div>
    </main>
{% endblock %}