{% extends 'registration/base.html' %} {% block content %} {% load static %}
<div id="account_banner">
	        <h5>Bram Employment </h5>
	        <h1>Contact Us</h1>
	    </div>
    <main>

	  <div id="con1">
	        <div id="contact1">
			   <i class="fas fa-map-marked-alt" style="font-size:70px;"></i>
	           <h4 span style=" font-size:25px; text-align:center;">Address</span></h4>
			   <p>153 Herdwik Street, Brampton</p>
	         </div>


			  <div id="contact1">
			   <i class="far fa-envelope" style="font-size:70px;"></i>
	           <h4 span style=" font-size:25px; text-align:center;">Email</span></h4>
			   <p>info@bramemployment.ca</p>


	         </div>
			  <div id="contact1">
			  <i class="fas fa-headset" style="font-size:70px";></i>
	           <h4 span style=" font-size:25px; text-align:center;">Phone</span></h4>
			   <p>+1-9057810877, +1-6475729622</p>

	         </div>




	</div>

	   <!-- <div id="gets">
	        <div id="contact-image">
	            <img src="{% static 'registration/images/con-image.jpg'%}" alt="Responsive Web Design Graphic">
	        </div>

		    <div id ="get-in-touch">
	            <h2>Get in Touch Now</h2>
                <form action="/action_page.php">
                     <label for="fname">First name:</label><br>
                     <input type="text" id="fname" name="fname" value="First Name" class="field"><br>
                     <label for="lname">Last name:</label><br>
                     <input type="text" id="lname" name="lname" value="Second Name" class="field"><br>
		             <label for="lname">Email Id:</label><br>
                     <input type="email" id="email" name="email" value="Email Id" class="field"><br>
		             <label for="lname">Phone:</label><br>
                     <input type="tel" id="phone" name="phone" value="Phone" class="field"><br><br>
                     <input type="submit" value="Submit" id = "sub">
                </form>
	        </div>
	    </div>-->
    </main>
{% endblock %}