{% extends 'registration/base.html' %} {% block content %} {% load static %}


<div id="account_banner">
    <h5>Bram Employment</h5>
    <h1>Employers Organisations</h1>
</div>
<div id="emp">

    <h1>Jobs</h1>
    {% if message_name %}
    <center>
        <h2>Thanks {{message_name}}! </h2>
        <p> We received your request and will respond shortly...</p>
    </center>
    {% endif %}
    <table>

    </table>

    <table align="center">
        <tr>
            <th>COMPANY</th>
            <th>JOB NAME</th>
            <th>PAY</th>
            <th>REQUEST</th>
        </tr>


        <form method="post">
            {% csrf_token %}
            {% for comp in company %}
            <tr>
                <td>{{comp.name}}</td>
                <td>{{comp.jobName}}</td>
                <td>{{comp.pay}}</td>
                <td><input type="hidden" name="name" value="{{ comp.name }}">
                    <input type="hidden" name="job" value="{{ comp.jobName }}">
                    <button type="submit">Request</button>
                </td>
            </tr>

            {% endfor %}
        </form>
    </table>


</div>

{% endblock %}
